---
const { source, className } = Astro.props;

import Icon from "./Icon.astro";

const {
  facebook,
  twitter,
  instagram,
  youtube,
  linkedin,
  github,
  discord,
  soundcloud,
  vk,
  whatsapp,
  tiktok,
  email,
  phone,
  address,
  website,
} = source;

---

<ul class={className}>
  {
    facebook && (
      <li class="inline-block">
        <a
          aria-label="facebook"
          href={facebook}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Facebook" />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Twitter" />
        </a>
      </li>
    )
  }
  {
    instagram && (
      <li class="inline-block">
        <a
          aria-label="instagram"
          href={instagram}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Instagram" />
        </a>
      </li>
    )
  }
  {
    youtube && (
      <li class="inline-block">
        <a
          aria-label="youtube"
          href={youtube}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Youtube" />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Linkedin" />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Github" />
        </a>
      </li>
    )
  }
  {
    discord && (
      <li class="inline-block">
        <a
          aria-label="discord"
          href={discord}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Discord" />
        </a>
      </li>
    )
  }
  {
    soundcloud && (
      <li class="inline-block">
        <a
          aria-label="soundcloud"
          href={soundcloud}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Soundcloud" />
        </a>
      </li>
    )
  }
  {
    vk && (
      <li class="inline-block">
        <a
          aria-label="vk"
          href={vk}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Vk" />
        </a>
      </li>
    )
  }
  {
    whatsapp && (
      <li class="inline-block">
        <a
          aria-label="whatsapp"
          href={whatsapp}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Whatsapp" />
        </a>
      </li>
    )
  }
  {
    tiktok && (
      <li class="inline-block">
        <a
          aria-label="tiktok"
          href={tiktok}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Tiktok" />
        </a>
      </li>
    )
  }
  {
    website && (
      <li class="inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Website" />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="inline-block">
        <a aria-label="email" href={`mailto:${email}`}>
          <Icon name="Email" />
        </a>
      </li>
    )
  }
  {
    phone && (
      <li class="inline-block">
        <a aria-label="telephone" href={`tel:${phone}`}>
          <Icon name="Call" />
        </a>
      </li>
    )
  }
  {
    address && (
      <li class="inline-block">
        <a
          aria-label="location"
          href={address}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Icon name="Address" />
        </a>
      </li>
    )
  }
</ul>
