---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import Icon from "@layouts/components/Icon.astro";

export const prerender = true;

const entry = await getEntryBySlug("pages", "contact");
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h2 class="h2 page-heading">Thank you!</h2>
      <div class="row gy-5 md:gx-5">
        <div class="sm:col-5 md:col-4">
          <p class="mb-8 text-2xl font-bold text-theme-dark">Kontaktdaten</p>
          <ul class="flex flex-col space-y-8">
            <li>
              <div class="flex items-center text-xl text-theme-dark">
                <Icon name="Email" class="mr-3 text-primary" />
                <p class="font-semibold">Email</p>
              </div>
              <p
                set:html={markdownify(email)}
                class="content mt-2 pl-8 leading-5"
              />
            </li>
          </ul>
        </div>
        <div class="sm:col-7 md:col-8">
          <p>
            Deine E-Mail ist nun auf dem Weg in unser Postfach. 
            Wir werden uns so schnell wie möglich bei Dir melden.
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
