---
import { markdownify } from "@lib/utils/textConverter";
import Icon from "./components/Icon.astro";
import { Image } from "astro:assets";
import GooglePhoto from "src/components/GooglePhoto.astro";
const { authors } = Astro.props;
---

<div class="row justify-center">
  {
    authors.map((author: any) => (
      <div class="col-12 sm:col-6 md:col-6 mb-8 items-center">
        {author.data.googlephoto && (
          <div class="mb-4">
            <GooglePhoto
              src={author.data.googlephoto}
              alt={author.data.title}
              height={150}
              class="mx-auto rounded-lg"
            />
          </div>
        )}
        {author.data.image && (
          <div class="mb-4">
            <Image
              src={author.data.image}
              alt={author.data.title}
              format="webp"
              height={150}
              class="mx-auto rounded-lg"
            />
          </div>
        )}
        <h3 class="h4 mb-3 mt-8">
          <a
            href={`/authors/${author.slug}`}
            class="hover:text-primary block transition duration-200"
          >
            {author.data.title}{''}<Icon name="ArrowCircleRight" class="ml-2 inline"  />
          </a>
        </h3>
        <p class="mb-3" set:text={markdownify(author.body)} />
      </div>
    ))
  }
</div>
