---
import config from "@config/config.json";
import { getCollectionEntries } from "@lib/contentParser";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { Image } from "astro:assets"
import Icon from "./components/Icon.astro";
import GooglePhoto from "src/components/GooglePhoto.astro";

const authors = await getCollectionEntries("authors");
const { summary_length } = config.settings;
const { className, posts, fluid } = Astro.props
const renderedPosts: Array<any> = []

for (const post of posts)  {
  renderedPosts.push({
    ...await post.render(),
    ...post
  })
}

---

<div
  class={`row gy-5 gx-4 ${className} ${
    renderedPosts.length == 1 ? "justify-center" : ""
  } `}
>
  {
    renderedPosts.map((post: any, i: number) => (
      <div class={i === 0 && fluid != false ? "col-12" : "col-12 sm:col-6"}>
        {post.data.image && (
          <a
            href={`/${post.slug}`}
            class="hover:text-primary group block overflow-hidden rounded-lg items-center"
          >
            <GooglePhoto
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
              src={post.data.image}
              alt={post.data.title}
              style={`max-height: ${i === 0 ? "475px" : "230px"}; width: 100%; object-fit: contain; height: auto; max-width: 1200px`}
              class="w-full transition duration-300 group-hover:scale-[1.03] rounded-lg self-center"
            />
          </a>
        )}
        <ul class="text-text mb-4 mt-6 flex flex-wrap items-center">
          <li class="mr-5">
            {authors
              .filter((author) =>
                post.data.authors
                  .map((author: string) => slugify(author))
                  .includes(slugify(author.data.title))
              )
              .map((author) => (
                <a
                  href={`/authors/${slugify(author.data.title)}`}
                  class="hover:text-primary inline-block items-center font-medium pl-4"
                >
                  {author.data.image && (
                    <Image
                      src={author.data.image}
                      alt={author.data.title}
                      height={50}
                      width={50}
                      class="mr-2 h-6 w-6 rounded-full"
                    />
                  )}
                  <span>{author.data.title}</span>
                </a>
              ))}
          </li>

          <li class="mr-5 flex flex-wrap items-center font-medium">
            <Icon name="Calendar" class="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(post.data.date)}</>
          </li>

          <li class="mx-3 flex flex-wrap items-center font-medium">
            <Icon name="Time" class="mr-1 h-5 w-5 text-gray-600" />
            {Math.round(post.remarkPluginFrontmatter?.estReadingTime) || "< 1"} Min. Lesezeit
          </li>

          <li class="mr-5 flex flex-wrap items-center">
            <Icon name="Address" class="mr-1 h-5 w-5 text-gray-600" />
            <>
              <ul>
                {post.data.categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="hover:text-primary mr-2 font-medium"
                    >
                      {humanize(category)}
                      {i !== post.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          </li>
        </ul>
        <h3 class="mb-4">
          <a
            href={`/${post.slug}`}
            class="hover:text-primary block transition duration-300 font-secondary"
          >
            {post.data.title}{''}<Icon name="ArrowCircleRight" class="ml-2 inline"  />
          </a>
        </h3>
        <p class="text-text">
          {post.data.description?.split(' ').slice(
            0,
            Number(
              i === 0 && fluid != false ? summary_length * 2 : summary_length
            )
          ).join(' ')}
          ...
        </p>
      </div>
    ))
  }
</div>
